.clientsRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.clients__item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 180px;
}

.clientsRow:hover{
    background-color: rgba(237, 237, 237);
}


.clients__id{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20px;

}

.clients__data{
 padding-top:5px ;
 padding-bottom:5px ;


}


