.pagination{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 10px;

    border-top: 1px solid rgb(187, 187, 187);
}

.pagination__item{
    padding-left: 15px;
    padding-right: 15px;

}

.pagination__link{
    text-decoration:none;
    background-color: #3EA6FF;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border: rgb(234, 234, 237);
}