.search{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.search__input{
    font-size: 20px;
    width: 90%;
    border-color:#3EA6FF;
    border-radius: 1px 1px 1px 10px;
    padding: 10px 0px;
}

.search__icon{
    background-color: #3EA6FF;
    color: white;
    height: 50px !important;
    width: 40px !important;
}
