.login{
    height: 775px;
    width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url("https://fotos.subefotos.com/964f375ce5f4030b645ac26517edb427o.png?fbclid=IwAR3dQhZkJ0WUDdaPsCrejXxlH3Jx5OIl9lpS4TPdNnggDMuFZGJtMCdfwWg");
}

.login__form--container{
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.75);
}

.form--img{
    width: 600px;
    height: 350px;
}

.login__form{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__text{
    color: black;
    width: 400px;
    border-radius: 50px;
    height: 30px;
    margin:15px 0px;
    border-color:rgb(110, 110, 110)
}

.login__form--button{
    color: black;
}

.login__form--button{
  
    z-index: 9;
    height: 40px;
    width: 200px;
    margin-bottom: 15px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(#061dfb,#4016fc, #8b0efe,#c906ff);
}

.login__form--button:hover{
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    z-index: 1;
    animation: glow 8s linear infinite;
}


.register__form--button{

    height: 65px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(#061dfb,#4016fc, #8b0efe,#c906ff);
}

.register__form--button:hover{
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    z-index: 1;
    animation: glow 8s linear infinite;
}



@keyframes glow{
    0%{
        z-index: 1;
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
    }